.text-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  transition: color var(--transition);
}

.text-button:hover,
.text-button:focus {
  text-decoration: underline;
  color: var(--color-highlight);
}
